*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
}

body {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
	color: inherit;
	display: inline-flex;
	cursor: pointer;
}

img {
	max-width: 100%;
	vertical-align: top;
	height: auto;
}

