$font-bold: "Grotesk-Bold", sans-serif;
$font-medium: "Grotesk-Medium", sans-serif;

$color-black: #111;
$color-white: #fff;

$default-transition: all .5s ease;

$z-header: 2;
$z-mask: 4;
$z-preloader: 6;
